<ul class="pagination justify-content-center">
    {% if page_posts.has_previous %}
    <li class="page-item">
        <a class="page-link" href="{% if base_param %}{% url base_url base_param %}{% else %}{% url base_url %}{% endif %}?page={{ page_posts.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    {% endif %}

    {% for num in page_posts.paginator.page_range %}
        <li class="page-item {% if page_posts.number == num %}active{% endif %}">
            <a class="page-link" href="{% if base_param %}{% url base_url base_param %}{% else %}{% url base_url %}{% endif %}?page={{ num }}">{{ num }}</a>
        </li>
    {% endfor %}

    {% if page_posts.has_next %}
    <li class="page-item">
        <a class="page-link" href="{% if base_param %}{% url base_url base_param %}{% else %}{% url base_url %}{% endif %}?page={{ page_posts.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
    {% endif %}
</ul>
