<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-success text-white">
            <h5 class="modal-title" id="downloadTableModalLabel">Descargar Registros</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="descargaModal">
            <form action="{% url 'ganaderia:tabla_registro' %}" method="POST">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="nombre_archivo" class="form-label">Nombre del archivo</label>
                        <input type="text" class="form-control" id="nombre_archivo" name="nombre_archivo" placeholder="ej: registro_ovino">
                        <span id="file-error-span" class="text-danger" style="display: none; font-size: 0.9em;"></span>
                    </div>
                    <div class="col-md-6">
                        <label for="extension" class="form-label">Extensión del archivo</label>
                        <select class="form-select" id="extension" name="extension" required>
                            <option value="">Seleccionar extensión</option>
                            <option value=".xlsx">Excel</option>
                            <option value=".csv">CSV</option>
                        </select>
                    </div>
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-success" id="descargarBTN">Descargar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const nombreArchivoInput = document.getElementById('nombre_archivo');
    const spanInput = document.getElementById('file-error-span');
    const descargarBTN = document.getElementById('descargarBTN')
    // Expresión regular para caracteres válidos
    const caracteresValidos = /^[a-zA-Z0-9_]+$/;

    nombreArchivoInput.addEventListener('input', () => {
        const valorActual = nombreArchivoInput.value.trim();
        spanInput.innerText = '';
        
        if (valorActual === '') {
            nombreArchivoInput.style.borderColor = 'red';
            spanInput.style.display = 'block';
            spanInput.innerText = 'El nombre del archivo no puede estar vacío.';
            descargarBTN.disabled = true;
        } else if (esNombreArchivoValido(valorActual)) {
            nombreArchivoInput.style.borderColor = 'green';
            spanInput.style.display = 'none';
            descargarBTN.disabled = false;
        } else {
            nombreArchivoInput.style.borderColor = 'red';
            spanInput.style.display = 'block';
            spanInput.innerText = 'Error: El nombre solo puede contener letras, números y guiones bajos.';
            descargarBTN.disabled = true;
        }
    });

    function esNombreArchivoValido(nombreArchivo) {
        return caracteresValidos.test(nombreArchivo);
    }
</script>