{% extends 'ganaderia/layout.html'%}

{% block body %}
<div class="container-fluid py-4">
    <h1 class="display-4 text-center mb-4">Dashboard</h1>
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4 mb-4">
        <!-- Total de ovejas -->
        <div class="col">
           {% include 'ganaderia/components/dashboard/resumen_ovino.html'%}
        </div>
        

        <!-- Total de ventas -->
        <div class="col">
            {% include 'ganaderia/components/dashboard/resumen_venta.html'%}
        </div>

        <!-- Planteletas -->
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Planteletas</h5>
                    <p class="card-text">Plantel de venta y exposición</p>
                    <p class="card-text">Proximamente...</p>
                    <div class="mt-auto">
                        <ul class="list-unstyled mb-3">
                            <li><a href="#" class="text-decoration-none">Plantel de exposición</a></li>
                            <li><a href="#" class="text-decoration-none">Plantel de venta</a></li>
                        </ul>
                        <a href="{% url 'ganaderia:planteletas'%}" class="btn btn-primary w-100">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Árbol genealógico -->
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Árbol genealógico</h5>
                    <p class="card-text">Descendencia de ovinos</p>
                    <p class="card-text">Proximamente...</p>
                    <div class="mt-auto">
                        <p class="mb-3">Total de registros: <strong>30</strong></p>
                        <a href="{% url 'ganaderia:index'%}" class="btn btn-primary w-100">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="display-5 text-center mt-5 mb-4 ">Análisis de datos</h2>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Analisis de ventas</h5>
                    <ul>
                        <li>Distribución de ventas</li>
                        <li>Rendimiento de ventas</li>
                        <li>Promedio de ventas anuales</li>
                        <li>Tendencias</li>
                        <li>Costos y Ganancias</li>
                        <li>...</li>
                    </ul>
                    <a href="{% url 'ganaderia:analisis_ventas'%}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Analisis de Ovinos</h5>
                    <ul>
                        <li>Distribución de ovinos</li>
                        <li>Nacimientos</li>
                        <li>Crecimiento del Rebaño</li>
                        <li>Rendimiento de Lana</li>
                        <li>Estadistica de salud</li>
                        <li>...</li>
                    </ul>
                    <a href="{% url 'ganaderia:analisis_ovinos'%}" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}