{% extends 'ganaderia/layout.html'%}

{% block body %}

    <div class="container min-vh-100">
        <h3 class="display-4 text-center">Plantel</h3>

        <div class="row">
            <!-- Plantel de exposición -->
            <div class="col-md-6 col-12">
                <h2 class="display-5 text-center">Plantel de exposición</h2>
                <table class="table table-striped mb-4">
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Alias (opcional)</th>
                            <th>Peso (kg)</th>
                            <th>Edad</th>
                            <th>Pedigree (sí/no)</th>
                            <th>Raza</th>
                            <th>Género</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>303</td>
                            <td>-</td>
                            <td>78</td>
                            <td class="text-truncate">2 meses</td>
                            <td>SÍ</td>
                            <td>Texel</td>
                            <td>Macho</td>
                            <td>Cordero</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Plantel de ventas -->
            <div class="col-md-6 col-12">
                <h2 class="display-5 text-center">Plantel de ventas</h2>
                <table class="table table-striped mb-4">
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Alias (opcional)</th>
                            <th>Peso (kg)</th>
                            <th>Edad</th>
                            <th>Pedigree (sí/no)</th>
                            <th>Raza</th>
                            <th>Género</th>
                            <th>Tipo</th>
                            <th>Defectos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>317</td>
                            <td>-</td>
                            <td>74</td>
                            <td class="text-truncate">2 meses</td>
                            <td>SÍ</td>
                            <td>Texel</td>
                            <td>Hembra</td>
                            <td>Cordera</td>
                            <td>No</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Botones de acciones -->
        <div class="text-center mt-4">
            <a href="#" class="btn btn-success">＋ Agregar oveja</a>
            <a href="#" class="btn btn-danger">− Eliminar</a>
            <a href="#" class="btn btn-warning">Modificar</a>
            <a href="#" class="btn btn-secondary">Descargar tabla</a>
        </div>
    </div>

{% endblock %}