<div class="card-body">
    <h5 class="card-title text-center mb-3">Ovinos Top 🏆</h5>
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Peso(kg)</th>
                    <th>Edad</th>
                    <th>Pureza</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>300</td>
                    <td>74</td>
                    <td>2 meses</td>
                    <td>Pedigree</td>
                </tr>
                <tr>
                    <td>299</td>
                    <td>73</td>
                    <td>2 meses</td>
                    <td>Pedigree</td>
                </tr>
                <tr>
                    <td>303</td>
                    <td>75</td>
                    <td>2 meses</td>
                    <td>Pedigree</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>