<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover" style="cursor:pointer;">
            <thead class="table-light">
                <tr>
                    <!-- en la columna del numero se va mostrar el BU en caso de que no tenga RP -->
                    <th>RP</th>
                    <th>Nombre</th>
                    <th>Peso(kg)</th>
                    <th>Edad(mese/s)</th>
                    <th>Pureza</th>
                    <th>Raza</th>
                    <th>Sexo</th>
                    <th>Etapa</th>
                    <th>Ver detalle</th>
                    
                </tr>
    
            </thead>
            <tbody>
                <!-- iteramos renderizando cada columna  -->
            {% for oveja in ovejas %}
                {% if oveja %}
                <tr class="ovino_row" data-id="{{ oveja.id }}">
                    {% if oveja.RP%}
                    <td>{{oveja.RP}}</td>
                    {% else %}
                    <td>None</td>
                    {% endif %}
                    <td>{{oveja.nombre}}</td>
                    <td>{{oveja.peso}}</td>
                    <td>{{oveja.edad}}</td>
                    <td>{{oveja.calificador_pureza}}</td>
                    <td>{{oveja.raza}}</td>
                    <td>{{oveja.sexo}}</td>
                    <td>{{oveja.edad_clasificada}}</td>
                    {% if oveja.estado != 'muerta'%}
                    <td><a href="{% url 'ganaderia:ver_detalle' oveja.id %}" class="btn btn-sm btn-primary">ver detalle</a></td>
                    {% endif %}
                </tr>
                {% endif %}
                {% empty %}
                <tr>
                    <td colspan="9" class="text-center">No hay ovejas registradas</td>
                </tr>
                
            {% endfor %}
                
        </table>
    </div>
</div>